*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

#toolbar{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #005fcc;
    color: white;
}

.radcontrol{
    width: 30px;
    height: 30px;
    background-color: #4f4f4f;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

#step{
    float: left;
    margin-left: 15px;
}

.stepcontrol{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 1, 1);
    display: inline-block;
    text-align: center;
    padding: 5px;
}

#rad{
    float: left;
}

#colors{
    float: left;
    margin-left: 15px;
}

#eraser{
    float: left;
    margin-left: 15px;
    height: 30px;
    padding: 8px;
    background-color: white;
    color: rgb(0, 195, 255);
    text-align: center;
}

#dl{
    float: left;
    margin-left: 15px;
    height: 30px;
    padding: 8px;
    background-color: white;
    color: black;
    text-align: center;
}

#reset{
    float: left;
    margin-left: 15px;
    height: 30px;
    padding: 5px;
    background-color: black;
    color: red;
    text-align: center;
}

#p{
    float: left;
    margin-left: 15px;
    height: 30px;
    padding: 5px;
    background-color: white;
    color: rgb(0, 183, 255);
    text-align: center;
}

#t{
    float: left;
    margin-left: 15px;
    height: 30px;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

#picture{
    float: right;
    height: 30px;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

#Q{
    float: left;
    margin-left: 15px;
    height: 30px;
    width: 20px;
    padding: 5px;
}

#QQ{
    float: left;
    margin-left: 15px;
    height: 30px;
    width: 20px;
    padding: 5px;
}

#QQQ{
    float: left;
    margin-left: 15px;
    height: 30px;
    width: 20px;
    padding: 5px;
}

.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
}

.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}